@font-face {
    font-family: 'arimoregular';
    src: url('../fonts/Arimo-Regular-webfont.ttf');
}

.bground {
    background: url(../images/BG.png) no-repeat fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin: 0;
}
.tableBox{
    font-family: Arimo-Regular-webfont, sans-serif;
    font-weight: 500;
    color: #484848;
    display: table;
    max-width: 1192px;
    margin: 0 auto;
    text-align: center;
    padding: 24px 30px 31px 22px;
}
.tableBox table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    background-color: #fafafa;
}
td {
    width: 277px;
    height: 69px;
    font-size: 16px;
    font-weight: 500;
    border-left: 2px solid #d9d9d9;
}
th.column_1 {
    width: 310px;
    text-align: center;
}
th {
    height: 69px;
    font-size: 16px;
}
.s_headPlan, .u_headPlan, .p_headPlan {
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
}
.u_headPlan {
    background-color: #f04a56;
    font-size: 30px;
}
.p_headPlan {
    background-color: #20807c;
}
.choos {
    font-size: 18px;
    font-weight: bold;
}
.p_Plan {
    font-size: 30px;
    font-weight: bold;
}
tbody tr:nth-child(odd) {
    background: #f2f2f2;
}
tbody tr:nth-child(even){
    background: #e3e3e3;
}
th.choosePlan {
    background: #fafafa;
}
th.Price {
    background: #fafafa;
    border-left: 2px solid #d9d9d9;
}
.priceBig {
    font-size: 60px;
    position: relative;
}
.smallPrice {
    font-size: 24px;
    position: relative;
    top: -25px;
}
.perMonth {
    font-size: 18px;
    position: relative;
    right: 35px;
    font-weight: 400;
}
.fas, .far {
    font-size: 22px;
    margin-right: 14px;
}
.tableBTN {
    width: 192px;
    height: 49px;
    font-weight: bold;
    color: #ffffff;
    background-color: #484848;
    border: none;
    border-radius: 8px;
}
.colorBTN_1 {
    background-color: #89c331;
}
.colorBTN_2 {
    background-color: #f04a56;
}
.colorBTN_3 {
    background-color: #20807c;
}
td.button, td.column_1 {
    height: 130px;
    background-color: #ffffff;
}
td.column_1 {
    height: 130px;
    background-color: #dddddd;
}