@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/arimo-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Arimo Regular'), local('Arimo-Regular'),
    url('../fonts/arimo-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/arimo-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/arimo-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/arimo-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/arimo-v12-latin-regular.svg#Arimo') format('svg'); /* Legacy iOS */
}
.bground {
    background: url(../images/BG.png) no-repeat fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin: 0;
}
.tableBox{
    font-family: Arimo-Regular-webfont, sans-serif;
    font-weight: 400;
    color: #484848;
    display: table;
    max-width: 1192px;
    margin: 0 auto;
    text-align: center;
    padding: 24px 30px 31px 22px;
}
.tableBox table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
td {
    width: 157px;
    height: 166px;
    font-size: 18px;
    font-weight: 500;
    color: #787171;
}
tbody td:nth-child(odd) {
    background: #f2f2f2;
    border-top: 2px solid #cacaca;
}
tbody td:nth-child(even) {
    background: #e3e3e3;
    border-top: 2px solid #cacaca;
}
.choosePlan {
    background-color: #fafafa;
    width: 198px;
    height: 113px;
}
th.headService {
    width: 157px;
    height: 112px;
    font-size: 20px;
    font-weight:bold;
    border-top: transparent;
    color: #484848;
}
.headService:nth-child(odd) {
    background: #f2f2f2;
}
.headService:nth-child(even) {
    background: #e3e3e3;
}
p.serviceValue {
    margin-top: 2px;
    margin-bottom: 2px;
}
.fas {
color: #848484;
}
.plan_S {
    background-color: #89c331;
    color: #fafafa;
}
.plan_U {
    background-color: #f04a56;
    color: #fafafa;
}
.plan_P {
    background-color: #20807c;
    color: #fafafa;
}
.plan span:first-child {
    font-size: 22px;
}
.choos {
    font-size: 14px;
    font-weight: bold;
}
.p_Plan {
    font-size: 20px;
    font-weight: bold;
}
.priceBig{
    position: relative;
    font-size: 36px;
}
.smallPrice {
    font-size: 13px;
    position: relative;
    bottom: 16px;
}
.priceTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 5px;
}
.perMonth {
    position: relative;
    font-size: 13px;
    bottom: 4px;
}
.buttonBuy {
    width: 144px;
    height: 41px;
    border-radius: 5px;
    margin-top: 12px;
    background-color: #414141;
    color: #fafafa;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
td>p {
    margin-top: 5px;
}